apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-app
spec:
  replicas: 2 # Always one pod should run
  selector:
    matchLabels:
      app: login
  template: # pod template
    metadata:
      labels:
        app: login
    spec:
      containers:
      - name: login-container
        image: ravi2krishna/login-2519
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: login-service
spec:
  selector:
    app: login
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80