# - Means Comment 
# Ignored By Kubernetes 

# Simple Key Values
key: value 
name: ravi
course: devops
time: 8 

# Dictionaries: Set Of Key Values
trainer:
  name: ravi
  course: devops
  time: 8 

# Lists: Multiple Items 
courses:
- devops
- aws
- python 

# Objects are represented using YAML 

# Every Object has 4 top level yaml items 
apiVersion:
kind:
metadata:
spec: 

apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
  - name: nginx
    image: nginx:1.14.2
    ports:
    - containerPort: 80

apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: frontend
  labels:
    app: guestbook
    tier: frontend
spec:
  # modify replicas according to your case
  replicas: 3
  selector:
    matchLabels:
      tier: frontend
  template:
    metadata:
      labels:
        tier: frontend
    spec:
      containers:
      - name: php-redis
        image: us-docker.pkg.dev/google-samples/containers/gke/gb-frontend:v5

apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  selector:
    app.kubernetes.io/name: MyApp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9376
